{#{% block text_widget %}
    {{ dump(value) }}
    <div class="text_widget">
        {% set type = type|default('text') %}
        {{ block('form_widget_simple') }}
    </div>
{% endblock %}

{% block file_widget %}
    {% spaceless %}

    {{ block('form_widget') }}
        
    {% set runtimeConfig = {"thumbnail": {"size": [64, 64] }} %}

    {% if image_path is defined and image_path is not null %}
        <img src="{{ image_path | imagine_filter('my_thumb', runtimeConfig) }}" />
    {% elseif data is defined and data is not null %}
        <img src="{{ data | imagine_filter('my_thumb', runtimeConfig) }}" />
    {% endif %}

    {% endspaceless %}
{% endblock %}#}

{% block form_row %}
{% spaceless %}
    <div class="input-group">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_label %}
{% spaceless %}
    {% if required %}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}

    <span {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ label|trans({}, translation_domain) }}
        {% if attr.note is defined %}
            <span style="font: 11px normal; font-family: arial;">({{ attr.note }})</span>
        {% endif %}
    </span>
{% endspaceless %}
{% endblock form_label %}