{% extends "AppBundle::base.html.twig" %}

{% block head %}
    <!-- Add fancyBox -->
    <link rel="stylesheet" href="{{ asset('bundles/system/css/jquery.fancybox.css') }}" type="text/css" media="screen" />
    <script type="text/javascript" src="{{ asset('bundles/system/js/jquery.fancybox.pack.js') }}"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {
            $(".fancybox").fancybox();
        });
    </script>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TipTop</a>
        </div>
          
        {{ render(controller('AppBundle:Default:Menu', { 'routeName' : app.request.attributes.get('_route') })) }}
        
        {% if true %}{# TODO: It's optional (from admin settings) #}
            <div id="navbar-signin" class="collapse navbar-collapse auth-tab">
                <ul class="nav navbar-nav">
                    {% if app.user %}
                        <li><a href="{{ path('_security_logout') }}">{{ 'logout'|trans }}</a></li>
                    {% else %}
                        <li><a href="{{ path('_security_login') }}">{{ 'login'|trans }}</a></li>
                        <li><a href="{{ path('app_register') }}">{{ 'register'|trans }}</a></li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    {#{ render(controller('AppBundle:Default:MainMenu')) }#}
    
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-message">
                <em>Notice</em>: {{ flashMessage }}
            </div>
        {% endfor %}
        <div class="row row-offcanvas row-offcanvas-right">

            {% block content %}{% endblock %}

            {% if  disableRightMenu is not defined or disableRightMenu != true %}
                {{ render(controller('AppBundle:Default:RightMenu', { 'routeName' : app.request.attributes.get('_route') })) }}
            {% endif %}

        </div><!--/row-->
        
        <hr>

        <footer>
            <p>© 2015 Company, Inc.</p>
        </footer>
    </div><!--/.container-->

{% endblock %}
