{% extends "AppBundle::base-admin.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/system/css/admin.css') }}" />
{% endblock %}

{% block title 'Администрирование' %}

{% block body %}

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div id="site_title">
                <h1>
                    <a href="/admin" title="Администрирование">Администрирование</a>
                </h1>
            </div>
            {{ render(controller('AppBundle:IndexAdmin:Menu', { 'routeName' : app.request.attributes.get('_route') } )) }}
        </div>
        
        {% for flash_message in app.session.flashbag.get('success') %}
            <div class="alert alert-success margin-top" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('info') %}
            <div class="alert alert-info margin-top" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning margin-top" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('error') %}
            <div class="alert alert-danger margin-top" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        
        <div class="row row-offcanvas row-offcanvas-right">
            {% block content %}{% endblock %}
        </div>
        
        <hr>

        <footer>
             Copyright © 2072 <a href="#">TipTop</a> | Designed by <a href="http://www.templatemo.com" target="_parent">Free CSS Templates</a>
        </footer>
    </div>
                
{% endblock %}
