{% extends "AppBundle::layout-admin.html.twig" %}

{% block title "Администрирование - Страницы" %}
    
{% block right_menu %}
    <ul class="row-admin-right">
        <li><a class="btn btn-default margin-top" href="{{ path('app_backend_pages_add') }}">Добавить</a></li>
    </ul>
{% endblock %}
    
{% block content %}

    <ul class="media-list row-admin-left">
        {% for item in pages %}
            <li class="media">
                <div class="media-left">
                    <a href="{{ path('app_backend_pages_edit', { id: item.id }) }}">
                      {% if item.getWebPath() %}
                       <img class="media-object" width="64px" src="{{item.getWebPath()}}{#{ page.getWebPath() | imagine_filter('my_thumb', {"thumbnail": {"size": [64, 64] }}) }}" alt="{{ page.title }#}">
                      {% else %}  
                        <img class="media-object" src="{{ asset('bundles/app/images/empty.svg') }}" alt="{{ item.title }}">
                      {% endif %}  
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ item.title }}</h4>
                    <p>{{ item.description }}</p>
                    <p class="media-group-buttons">
                        <a href="{{ path('app_backend_pages_delete', { id: item.id })}}" class="btn btn-primary" role="button">Удалить</a>
                        <a href="{{ path('app_backend_pages_edit', { id: item.id }) }}" class="btn btn-default" role="button">Редактировать</a>
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
    
    <div class="clear"></div>
    
    {% if maxPages > 1 %}
        <div>
            <center>
                <ul class="pagination pagination-sm">

                    <li {{ thisPage == 1 ? 'class="disabled"' }}>
                        <a href="{{ path('app_backend_pages', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                    </li>

                    {% for i in 1..maxPages %}
                        <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('app_backend_pages', {page: i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                        <a href="{{ path('app_backend_pages', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                    </li>
                </ul>
            </center>
        </div>
    {% endif %}
  
{% endblock %}