{% extends "AppBundle::layout-admin.html.twig" %}

{% block content %}
    <div class="bs-docs-section">
        <h2 id="glyphicons-glyphs">{{'app.bundle.settings'|trans}}</h2>
        <p>{{'app.bundle.settings.desc'|trans}}</p>
        <div class="bs-glyphicons">
            <ul class="bs-glyphicons-list">
                <li>
                    <span aria-hidden="true" class="glyphicon glyphicon-user"></span>
                    <span class="glyphicon-class">Users&Groups</span>
                </li>
                <li>
                    <a class="" href="{{ path('app_backend_pages', { 'page': '1' }) }}">
                        <span aria-hidden="true" class="glyphicon glyphicon-file"></span>
                        <span class="glyphicon-class">Pages</span>
                    </a>
                </li>
                <li>
                    <span aria-hidden="true" class="glyphicon glyphicon-cog"></span>
                    <span class="glyphicon-class">Settings</span>
                </li>
                <li>
                    <span aria-hidden="true" class="glyphicon glyphicon-cd"></span>
                    <span class="glyphicon-class">modules</span>
                </li>
                <li>
                    <span aria-hidden="true" class="glyphicon glyphicon-envelope"></span>
                    <span class="glyphicon-class">email settings</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="bs-docs-section">
        <h2 id="glyphicons-glyphs">{{'ads.bundle.settings'|trans}}</h2>
        <p>{{'ads_bundle_settings_desc'|trans}}</p>
        <div class="bs-glyphicons">
            <ul class="bs-glyphicons-list">
                <li>
                    <a class="" href="{{ path('ads_admin_index') }}">
                        <span aria-hidden="true" class="glyphicon glyphicon-file"></span>
                        <span class="glyphicon-class">Ads</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bs-docs-section">
        <h2 id="glyphicons-glyphs">{{'galleries_bundle_settings'|trans}}</h2>
        <p>{{'galleries_bundle_settings_desc'|trans}}</p>
        <div class="bs-glyphicons">
            <ul class="bs-glyphicons-list">
                <li>
                    <span aria-hidden="true" class="glyphicon glyphicon-picture"></span>
                    <span class="glyphicon-class">Galleries</span>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
