{% extends "KitSystemBundle::layout-admin.html.twig" %}

{% block title "Администрирование - Страницы" %}

{% block content %}

    <button type="button" class="btn btn-default" xmlns="http://www.w3.org/1999/html">
        <a href="{{ path('_system_admin_pages_add') }}">Добавить</a>
    </button>
    <br/>
    <br/>
    <div class="kit__block">
        {% for page in pages %}
            <div class="media">
              <div class="media-left media-middle">
                <a href="{{ path('_system_admin_pages_edit', { id: page.id }) }}">
                  {% if page.getWebPath() %}
                    <img class="media-object" src="{{ page.getWebPath() | imagine_filter('my_thumb', {"thumbnail": {"size": [64, 64] }}) }}" alt="{{ page.title }}">
                  {% else %}  
                    <img class="media-object" src="{{ asset('bundles/system/images/empty.svg') }}" alt="{{ page.title }}">
                  {% endif %}  
                </a>
              </div>
              <div class="media-body">
                <h3 class="media-heading">{{ page.title }}</h3>
                {{ page.description }}
              </div>
              <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default">
                      <a href="" />Удалить</a>
                  </button>
                  <button type="button" class="btn btn-default">
                      <a href="{{ path('_system_admin_pages_edit', { id: page.id }) }}" />Редактировать</a>
                  </button>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}